
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>{{user.name}}</span>
    <div class="spacer"></div>
  <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
    
    <svg id="twitter-logo" height="24" data-name="Logo — FIXED" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
      <defs>
        <style>
          .cls-1 {
            fill: none;
          }

          .cls-2 {
            fill: #ffffff;
          }
        </style>
      </defs>
      <rect class="cls-1" width="400" height="400" />
      />
    </svg>
    
  </a>
</div>
<br>
<div class="container">

  <div class="row" >
    <div class="col-12">
      <mat-form-field class="col-12" >
        <mat-label>Seleccione un proyecto</mat-label>
        <mat-select [(value)]="proyectSelected" (selectionChange)="changeSelectProject($event)" >
     
          <mat-option *ngFor="let proyecto of proyectos" [value]="proyecto">{{proyecto.name}}</mat-option>
      
        </mat-select>
      </mat-form-field>

    </div>
    <br>
    <div class="row container" *ngIf="proyectSelected != 0">

    <div class="col-6">
      <mat-card >
        <mat-card-header>
         
          <mat-card-title>{{proyectSelected.name}}</mat-card-title>
          <mat-card-subtitle>{{proyectSelected.number}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{proyectSelected.description}}            
          </p>
          <br>
          <div>
            <label><span >Inicio: </span>{{proyectSelected.start | date:'medium'}}</label>
            <br>
            <label><span>Finalizacion: </span>{{proyectSelected.finish | date:'medium'}}</label>
          </div>
          <br>
          <div class="container"  style="text-align: center;">
            <mat-progress-bar 
                style="height: 20px;"
                class="example-margin"
                [color]="color"
                [mode]="mode"
                value="{{proyectSelected.progreso }}"
                bufferValue="100">
                
            </mat-progress-bar>
            <div style="display: flex; justify-content: space-between;">
              <div>   {{proyectSelected.planing.actualEffort | number:'.1-2'}} $</div>
           
      <div>        {{proyectSelected.progreso | number:'.1-2'}} %</div>
      <div>        {{proyectSelected.planing.openEffort | number:'.1-2'}} $</div>

            </div>
         
          </div>
          <div *ngIf="proyectSelected.situation  !='' ">
     
              <label><span>Situacion actual: </span> <br>{{proyectSelected.situation }}</label>

      
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-6">
      <mat-card>
        <mat-card-header>
         
          <mat-card-title>Propiedades</mat-card-title>
          
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content >
          <div class="container row" style="margin-top: 5%;">
            <div class="col-6" *ngIf="proyectSelected.projectMangerData">
              <label>Project Manager:  <h6>{{proyectSelected.projectMangerData.name}}</h6> </label>
            </div>

            <div class="col-6" *ngIf="proyectSelected.number">
              <label>NUMBER:  <h6>{{proyectSelected.number }}</h6> </label>
            </div>
            <div class="col-6" *ngIf="proyectSelected.start">
              <label>START DATE:  <h6>{{proyectSelected.start | date:'medium'}}</h6> </label>
            </div>
        
            <div class="col-6" *ngIf="proyectSelected.planing.finish">
              <label>FINISH DATE:  <h6>{{proyectSelected.planing.finish | date:'medium'}}</h6> </label>
            </div>

            <div class="col-6" *ngIf="proyectSelected.projectStatus">
              <label> PIPELINE STAGE <h6>{{proyectSelected.projectStatus.name }}</h6> </label>
            </div>

            <div class="col-6" *ngIf="proyectSelected.planing.finish">
            <div class="container">
              <label class="row">GENERAL STATUS:  
              
                
              </label>
              <div class="row">
                <h6  class="circulo" style="background-color: #d9d9d9; "></h6> 
                <h6  class="circulo" style="background-color: #d9d9d9; "></h6> 
                <h6  class="circulo" style="background-color: #90d812; "></h6> 
              </div>
            </div>

              
            </div>
            
          </div>
           
          
          </mat-card-content>
    
      </mat-card>
      
    </div>

    <div class="col-6">
      <mat-card>
        <mat-card-header>
         
          <mat-card-title>Resource</mat-card-title>
          
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content >
          
          <app-bar-chart 
            [barChartLabels]="['Plan ($)', 'Actual ($)', 'Rem. ($)', 'Exp. ($)']"
            [barChartPlugins]="[]"
            [barChartData]="datosGrafica"
          ></app-bar-chart>
          </mat-card-content>
    
      </mat-card>
      
    </div>


    </div>


  </div>

<!-- 
  <div class=" row">

    <mat-card *ngFor="let proyecto of proyectos" class=" col-12 example-card">
      <mat-card-header>
        <mat-card-title>{{proyecto.name}}</mat-card-title>
        <mat-card-subtitle>{{proyecto.number}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <br>
        <p>
          {{proyecto.description}}
        </p>
        <br>
        <section class="example-section" style="    text-align: center;">

          <mat-progress-bar
              class="example-margin"
              [color]="color"
              [mode]="mode"
              value="{{proyecto.progreso }}"
              bufferValue="100">
          </mat-progress-bar>
          <br>
          {{proyecto.progreso | number:'.1-2'}} %
      
          <p>
            <br>
            Capital actual: {{proyecto.actualEffort | number:'.1-2'}}$
            <br>
            Capital Total: {{proyecto.remainingEffort | number:'.1-2'}}$
          </p>
        </section>
       
        
        <br>
       
        
      </mat-card-content>
      <mat-card-actions style="    text-align: right;">
       <button mat-button>Detalle</button>
      
      </mat-card-actions>
    </mat-card>
  
    
  </div> -->
</div>


<!-- <router-outlet></router-outlet> -->